= form_with model: [roulette, talk_theme],
  class: 'w-full flex' do |f|
  = f.text_field :theme,
    class: 'input input-bordered input-sm w-4/5',
    placeholder: '最近買ってよかったもの'
  = f.submit button_label,
    class: 'btn btn-outline btn-sm btn-primary ml-auto'
