= turbo_frame_tag 'new_talk_theme'
  .mt-3
    = render(Form::Component.new( \
      roulette: @roulette,
      model: @talk_theme,
      column: :theme,
      placeholder: '最近買ってよかったもの',
      button_label: '登録'))
