= form_with model: [@roulette, @speaker],
  class: 'w-full flex' do |f|
  = f.text_field :name,
    class: 'input input-bordered input-sm w-4/5',
    placeholder: '田中さん'
  = f.submit @button_label,
    class: 'btn btn-outline btn-sm btn-primary ml-auto'
