= turbo_frame_tag @speaker
  .flex.items-center.h-full
    = render(Form::Component.new( \
      roulette: @roulette,
      model: @speaker,
      column: :name,
      placeholder: '田中さん',
      button_label: '更新'))
