= turbo_frame_tag 'new_speaker'
  .mt-3
    = render(Form::Component.new( \
      roulette: @roulette,
      model: @speaker,
      column: :name,
      placeholder: '田中さん',
      button_label: '登録'))
